* {
  font-family: "Outfit", sans-serif;
  background-color: hsl(212, 45%, 89%);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: grid;
  place-content: center;
}

.first-row {
  padding: 20px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.card {
  width: 300px;
  background-color: hsl(0, 0%, 100%);
  padding: 20px 20px 40px 20px;
  border-radius: 20px;
  box-shadow: 2px 10px 30px rgba(0, 0, 0, 0.1);
}

.content {
  background-color: hsl(0, 0%, 100%);
}

img {
  border-radius: 10px;
}

h1 {
  padding-top: 5px;
  font-size: 1.3rem;
  font-weight: 700;
  text-align: center;
  background-color: hsl(0, 0%, 100%);
}

p {
  padding-top: 10px;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  background-color: hsl(0, 0%, 100%);
  color: hsl(220, 15%, 55%);
}
